* {
  margin: 0;
  padding: 0;
}
body {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.hero {
  padding: 4em 3em;
  width: calc(50% - 2em);
}
.hero .title {
  color: #ffba02;
  font-size: 3em;
  margin-bottom: .5em;
}
.hero .text{
  letter-spacing: 1px;
  line-height: 1.5;
  color: rgb(233, 233, 233);
}
.btn {
  background: #575756;
  color: rgb(223, 223, 223);
  padding: .5em 1em;
  border-radius: 3px;
  text-decoration: none;
  font-size: 1em;
  margin-top: 1em;
  border: none;
  margin-right: .5em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  
}